.banner {
    display: block;
    margin: auto;
    height: 450px;
}

.text-center {
    text-align: center;
}
.banner {
    display: block;
    margin: auto;
    height: 450px;
}

.text-center {
    text-align: center;
}

h2 {
    font-size: 30px;
    margin: 10px;
}

p {
    margin: 10px 0;
}

p.post-meta {
    font-style: italic;
    font-size: 15px;
}
